<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">School Management</a>
            <a class="nav-item nav-link" routerLink="/chat" href="#">Live Chat</a>
          </div>
        </div>
        <div class="chat-toggler d-flex"> <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" data-content="" data-toggle="dropdown" data-original-title="Notifications">
            <div class="profile-pic"> <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" width="35" height="35"> </div>
            <div class="user-details">
              <div class="username">John <span class="bold">Smith</span> </div>
            </div>
            <div class="iconset top-down-arrow"></div>
            </a>
        </div>
      </nav>
    </div>
    <div class="chat-panel">
     <div class="">
      <div class="row no-gutters">
        <div class="col-lg-2 col-12">
         <div class="chat-left-pane">
             <h3 class="small-title">Students</h3>
            <div class="chat-window-wrapper">
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div> 
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>        
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
            <div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
                <div class="user-profile">
                 <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/images/avatar_small.jpg"  width="35" height="35">
                </div>
                <div class="status-icon red"></div>
                <div class="user-details">
                 <div class="user-name">
                  David Nester
                 </div>                    
                </div>
            </div>
        </div> 
         </div>
        </div>
        <div class="col-lg-8 col-12">
         <div class="live-stream-pane">
          <img src="assets/images/video-screen.png" alt="screen">
         </div>
        </div>
        <div class="col-lg-2 col-12">
          <div class="chat-right-pane">
           <div class="row no-gutters">
            <div class="col-12 col-lg-6">
             <div class="features-list">
             <div class="icon-circle bg-orange">
             <img src="assets/images/icon/board.png">
             </div>
             <span>Board</span>
            </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-dark-blue">
                 <img src="assets/images/icon/bandwidth.png">
                </div>
                <span>Low bandwidth 
                    </span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-pink">
                    <img src="assets/images/icon/class.png">
                </div>
                <span>Past class
                    download</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-primary">
                 <img src="assets/images/icon/document.png">
                </div>
                <span>Document 
                    sharing</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-gray">
                  <img src="assets/images/icon/broadcasting.png">
                </div>
                <span>Doucment
                    broadcasting</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-blue">
                    <img src="assets/images/icon/huddle.png">
                </div>
                <span>Huddle
                    creation</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-yellow">
                    <img src="assets/images/icon/bandwidth.png">
                </div>
                <span>Online
                    feedback</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-violet">
                    <img src="assets/images/icon/poll.png">
                </div>
                <span>Online Poll
                    creation</span>
               </div>
               </div>
               <div class="col-12 col-lg-6">
                <div class="features-list">
                <div class="icon-circle bg-green">
                    <img src="assets/images/icon/quiz.png">
                </div>
                <span>Online 
                    Subject Quiz</span>
               </div>
               </div>
           </div>
          </div>
        </div>
      </div>
      
     </div>
    </div>