<div class="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">School Management</a>
        <a class="nav-item nav-link" routerLink="/chat" href="#">Live Chat</a>
         
      </div>
    </div>
    <div class="chat-toggler d-flex"> <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" data-content="" data-toggle="dropdown" data-original-title="Notifications">
        <div class="profile-pic"> <img src="assets/images/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" width="35" height="35"> </div>
        <div class="user-details">
          <div class="username">John <span class="bold">Smith</span> </div>
        </div>
        <div class="iconset top-down-arrow"></div>
        </a>
    </div>
  </nav>
</div>
  <div class="hero-slider">
    <img src="../assets/images/hero-slider.jpg" alt="logo">
  </div>
  <div class="container">
    <mat-tab-group>
        <mat-tab label="Students">
         <div class="content-wrap">
          <div class="row">
              <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                  <div class="home-card">
                    <div class="card-icon pad-xl">
                      <img class="align-items-center" src="./assets/images/icon/video.png" alt="icon">
                     </div>                   
                    <span class="card-description">Video Conferencing session</span> 
                  </div> 
              </div>
              <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                <div class="home-card">
                  <div class="card-icon pad-xl">
                    <img class="align-items-center" src="./assets/images/icon/search-course.png" alt="icon">
                   </div>                   
                  <span class="card-description">Search Courses</span> 
                </div> 
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
              <div class="home-card">
                <div class="card-icon pad-xl">
                  <img class="align-items-center" src="./assets/images/icon/classroom.png" alt="icon">
                 </div>                   
                <span class="card-description">View Classroom</span> 
              </div> 
          </div>
          <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
            <div class="home-card">
              <div class="card-icon pad-xl">
                <img class="align-items-center" src="./assets/images/icon/research.png" alt="icon">
               </div>                   
              <span class="card-description">View Faculty & Research
                </span> 
            </div> 
        </div>
        <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
          <div class="home-card">
            <div class="card-icon pad-xl">
              <img class="align-items-center" src="./assets/images/icon/member.png" alt="icon">
             </div>                   
            <span class="card-description">Member of Sections</span> 
          </div> 
      </div>
      <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="home-card">
          <div class="card-icon pad-xl">
            <img class="align-items-center" src="./assets/images/icon/feedback.png" alt="icon">
           </div>                   
          <span class="card-description">Feedback</span> 
        </div> 
    </div>
    <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
      <div class="home-card">
        <div class="card-icon pad-xl">
          <img class="align-items-center" src="./assets/images/icon/chat.png" alt="icon">
         </div>                   
        <span class="card-description">Chat with Teachers</span> 
      </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/register.png" alt="icon">
       </div>                   
      <span class="card-description">Registration</span> 
    </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/exam.png" alt="icon">
     </div>                   
    <span class="card-description">Exam Application</span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/fees.png" alt="icon">
     </div>                   
    <span class="card-description">Exam Fees Payment</span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/admit-card.png" alt="icon">
     </div>                   
    <span class="card-description">Admit Card + Roll No collection
      </span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/merit-list.png" alt="icon">
     </div>                   
    <span class="card-description">Merit List View</span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/marksheet.png" alt="icon">
     </div>                   
    <span class="card-description">Marksheet view</span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/library.png" alt="icon">
     </div>                   
    <span class="card-description">Online Library Apply</span> 
  </div> 
</div>
<div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
  <div class="home-card">
    <div class="card-icon pad-xl">
      <img class="align-items-center" src="./assets/images/icon/review.png" alt="icon">
     </div>                   
    <span class="card-description">Apply for Review</span> 
  </div> 
</div>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Teacher">
          <div class="content-wrap">
            <div class="row">
                <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                    <div class="home-card">
                      <div class="card-icon pad-xl">
                        <img class="align-items-center" src="./assets/images/icon/upload.png" alt="icon">
                       </div>                   
                      <span class="card-description">Study Material Updations, communications
                        </span> 
                    </div> 
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                  <div class="home-card">
                    <div class="card-icon pad-xl">
                      <img class="align-items-center" src="./assets/images/icon/planning.png" alt="icon">
                     </div>                   
                    <span class="card-description">Lesson Planning</span> 
                  </div> 
              </div>
              <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                <div class="home-card">
                  <div class="card-icon pad-xl">
                    <img class="align-items-center" src="./assets/images/icon/dashboard.png" alt="icon">
                   </div>                   
                  <span class="card-description">Student Progress & Dashboard</span> 
                </div> 
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
              <div class="home-card">
                <div class="card-icon pad-xl">
                  <img class="align-items-center" src="./assets/images/icon/collaboration.png" alt="icon">
                 </div>                   
                <span class="card-description">Collaboration with
                  Parents & Students 
                  through Community. 
                  </span> 
              </div> 
          </div>
          <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
            <div class="home-card">
              <div class="card-icon pad-xl">
                <img class="align-items-center" src="./assets/images/icon/marksheet.png" alt="icon">
               </div>                   
              <span class="card-description">Marks Entry</span> 
            </div> 
        </div>
        <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
          <div class="home-card">
            <div class="card-icon pad-xl">
              <img class="align-items-center" src="./assets/images/icon/feedback.png" alt="icon">
             </div>                   
            <span class="card-description">Feedback</span> 
          </div> 
      </div>
      <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="home-card">
          <div class="card-icon pad-xl">
            <img class="align-items-center" src="./assets/images/icon/report.png" alt="icon">
           </div>                   
          <span class="card-description">Review/Scrutiny entry</span> 
        </div> 
    </div>
    <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
      <div class="home-card">
        <div class="card-icon pad-xl">
          <img class="align-items-center" src="./assets/images/icon/approval.png" alt="icon">
         </div>                   
        <span class="card-description">Approval for Registration</span> 
      </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/approve-exam.png" alt="icon">
       </div>                   
      <span class="card-description">Approval for Exam
        Application
        </span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/report.png" alt="icon">
       </div>                   
      <span class="card-description">View Reports </span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/calender.png" alt="icon">
       </div>                   
      <span class="card-description">Prepare Exam Schedule</span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/appointment.png" alt="icon">
       </div>                   
      <span class="card-description">Appointment Letter & 
        Remuneration for Paper
         setter, moderator
        </span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/marksheet.png" alt="icon">
       </div>                   
      <span class="card-description">Approve Marks Entry</span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/search-course.png" alt="icon">
       </div>                   
      <span class="card-description">Approve Review/Scrutiny</span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/sheet.png" alt="icon">
       </div>                   
      <span class="card-description">Final TAB sheet + 
        Approve Merit list
        </span> 
    </div> 
  </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Parents">
          <div class="content-wrap">
            <div class="row">
                <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                    <div class="home-card">
                      <div class="card-icon pad-xl">
                        <img class="align-items-center" src="./assets/images/icon/upload.png" alt="icon">
                       </div>                   
                      <span class="card-description">Study Material Updations,
                        communications
                        </span> 
                    </div> 
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                  <div class="home-card">
                    <div class="card-icon pad-xl">
                      <img class="align-items-center" src="./assets/images/icon/bus.png" alt="icon">
                     </div>                   
                    <span class="card-description">Transport Status</span> 
                  </div> 
              </div>
              <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                <div class="home-card">
                  <div class="card-icon pad-xl">
                    <img class="align-items-center" src="./assets/images/icon/dashboard.png" alt="icon">
                   </div>                   
                  <span class="card-description">Pupil Progress
                  </span> 
                </div> 
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
              <div class="home-card">
                <div class="card-icon pad-xl">
                  <img class="align-items-center" src="./assets/images/icon/collaboration.png" alt="icon">
                 </div>                   
                <span class="card-description">Collaboration with
                  Parents & Students 
                  through Community. 
                  </span> 
              </div> 
          </div>
          <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
            <div class="home-card">
              <div class="card-icon pad-xl">
                <img class="align-items-center" src="./assets/images/icon/download.png" alt="icon">
               </div>                   
              <span class="card-description">Institute information,
                exam notifications,
                prospectus download</span> 
            </div> 
        </div>
        <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
          <div class="home-card">
            <div class="card-icon pad-xl">
              <img class="align-items-center" src="./assets/images/icon/feedback.png" alt="icon">
             </div>                   
            <span class="card-description">Feedback</span> 
          </div> 
      </div>
      <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="home-card">
          <div class="card-icon pad-xl">
            <img class="align-items-center" src="./assets/images/icon/search-course.png" alt="icon">
           </div>                   
          <span class="card-description">Search Courses</span> 
        </div> 
    </div>
    <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
      <div class="home-card">
        <div class="card-icon pad-xl">
          <img class="align-items-center" src="./assets/images/icon/events.png" alt="icon">
         </div>                   
        <span class="card-description">View Events</span> 
      </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/research.png" alt="icon">
       </div>                   
      <span class="card-description">View Faculty & 
        Research
        </span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/customer-care.png" alt="icon">
       </div>                   
      <span class="card-description">Customer Care</span> 
    </div> 
  </div>
  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
    <div class="home-card">
      <div class="card-icon pad-xl">
        <img class="align-items-center" src="./assets/images/icon/chat-bubble.png" alt="icon">
       </div>                   
      <span class="card-description">Chat with teachers
        </span> 
    </div> 
  </div>
   
            </div>
          </div>
        </mat-tab>
          <mat-tab label="Admin">
            <div class="content-wrap">
              <div class="row">
                  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                      <div class="home-card">
                        <div class="card-icon pad-xl">
                          <img class="align-items-center" src="./assets/images/icon/notification.png" alt="icon">
                         </div>                   
                        <span class="card-description">Notifications on Exams,
                          Programs, reviews
                          
                          </span> 
                      </div> 
                  </div>
                  <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                    <div class="home-card">
                      <div class="card-icon pad-xl">
                        <img class="align-items-center" src="./assets/images/icon/calender.png" alt="icon">
                       </div>                   
                      <span class="card-description">Exam Schedule</span> 
                    </div> 
                </div>
                <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                  <div class="home-card">
                    <div class="card-icon pad-xl">
                      <img class="align-items-center" src="./assets/images/icon/card.png" alt="icon">
                     </div>                   
                    <span class="card-description">Admit Card generation 
                      + Upload
                      
                    </span> 
                  </div> 
              </div>
              <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
                <div class="home-card">
                  <div class="card-icon pad-xl">
                    <img class="align-items-center" src="./assets/images/icon/sheet.png" alt="icon">
                   </div>                   
                  <span class="card-description">Final TAB sheet +
                    Merit list Upload
                     
                    </span> 
                </div> 
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
              <div class="home-card">
                <div class="card-icon pad-xl">
                  <img class="align-items-center" src="./assets/images/icon/marksheet.png" alt="icon">
                 </div>                   
                <span class="card-description">Results + Marksheet
                  Generation & Upload
                  </span> 
              </div> 
          </div>
          <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
            <div class="home-card">
              <div class="card-icon pad-xl">
                <img class="align-items-center" src="./assets/images/icon/transcript.png" alt="icon">
               </div>                   
              <span class="card-description">Transcript Generation
                + Verify using DS
                </span> 
            </div> 
        </div>
        <div class="mb-3 col-lg-3 col-md-6 col-sm-12" >
          <div class="home-card">
            <div class="card-icon pad-xl">
              <img class="align-items-center" src="./assets/images/icon/claim.png" alt="icon">
             </div>                   
            <span class="card-description">Claims & Objection
              Co-ordination
              </span> 
          </div> 
      </div>
       
     
              </div>
            </div>
          </mat-tab>
      </mat-tab-group>
  </div>
  <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Categories</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Business</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Creative & Arts</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Envirnment</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Tech & Coding</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>History</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Lierature</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Politics</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Languages</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Our Solutions</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Library Management</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>School Management</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Online CLasses</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Student Management</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Task Assignment</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>eLearning</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>School Management</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>About Us</a></li>
						<li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Login</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© 2020 All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Public School</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
